.parent {
  display: flex;
  flex-wrap: wrap;
}


.parent>.child {
  flex: 1 1 20%;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8 {
  height:100px;
  width:100px;
  border:10px solid red;
}
